<div class="container">
    <ul class="social-icon">
        <li class="social-icon__item">
            <a class="social-icon__link" href="#">
                <img src="../../assets/img/facebookIcon.png" height="30px">
            </a>
        </li>
        <li class="social-icon__item">
            <a class="social-icon__link" href="#">
                <img src="../../assets/img/twitterIcon.png" height="30px">
            </a>
        </li>
        <li class="social-icon__item">
            <a class="social-icon__link" href="#">
                <img src="../../assets/img/linkedinIcon.png" height="30px">
            </a>
        </li>
        <li class="social-icon__item">
            <a class="social-icon__link" href="#">
            <img src="../../assets/img/instagramIcon.png" height="30px">
            </a>
        </li>
    </ul>

    <ul class="menu">
        <li class="menu__item"><a class="menu__link" routerLink="/home">Home</a></li>
        <li class="menu__item"><a class="menu__link" routerLink="">Chi siamo</a></li>
        <li class="menu__item"><a class="menu__link" routerLink="">Policy</a></li>
        <li class="menu__item"><a class="menu__link" routerLink="">Contattaci</a></li>
    </ul>

    <p>Created by Betazom Team Bari</p>
</div>