<ul class="social-icon">
    <li class="social-iconitem"><a class="social-iconlink" href="#"><img src="../../assets/img/facebookIcon.png" height="30px"></a></li>
    <li class="social-iconitem"><a class="social-iconlink" href="#"><img src="../../assets/img/twitterIcon.png" height="30px"></a></li>
    <li class="social-iconitem"><a class="social-iconlink" href="#"><img src="../../assets/img/linkedinIcon.png" height="30px"></a></li>
    <li class="social-iconitem"><a class="social-iconlink" href="#"><img src="../../assets/img/instagramIcon.png" height="30px"></a></li>
</ul>

<app-navbar></app-navbar>

<p>Created by Betazom Team Bari</p>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js%22%3E"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js%22%3E"></script>