<nav class="navbar">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="../../assets/img/logo.png" height="100px" class="d-inline-block align-top">
        </a>

        <div class="input-group rounded">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="my-2 my-sm-0" type="submit">
                <img src="../../assets/img/search.png" height="40px">
            </button>
            
            <div class="dropdown">
                <button class="acount dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="../../assets/img/user.png" height="40px">
                </button>
                <div class="dropdown-menu dropIteam" aria-labelledby="dropdownMenu2">
                  <button class="dropdown-item" type="button" routerLink="">Profilo</button>
                  <button class="dropdown-item" type="button" routerLink="">Ordini</button>
                  <button class="dropdown-item" type="button" routerLink="/login">Login</button>
                </div>
              </div>
        </div>
    </div>    
</nav>